<%= render 'header' %>

<br><br><h1>Upload new Dope Fit</h1>

<%= form_for @fit do |f| %>

	<% if @fit.errors.any? %>
		<% @fit.errors.full_messages.each do |msg| %>
			<p><%= msg %></p>
		<% end %>
	<% end %>

	<div style="display:inline-block">
		<% f.label :title %><h3 style="display:inline-block">Enter title:</h3>
		<%= f.text_field :title %>
	</div>
	<br>
	<div style="display:inline-block">
		<% f.label :imageurl %><h3 style="display:inline-block">Upload Image:</h3>
		<%= f.text_field :imageurl %>
	</div>
	<br>
	<div style="display:inline-block">
		<% f.label :description %><h3 style="display:inline-block">Description:</h3>
		<%= f.text_area :description %>
	</div>
	<br>
	<p><%= f.submit %></p>
<% end %>

<%= link_to "Go Back", fits_path %>