<%= render 'header' %>

<br><br><br>
<div id="fit">
	<h1><%= @fit.title %></h1>
	<%= image_tag(@fit.imageurl, width:'400px', height:'225px') %>
	<p><%= @fit.description %></p>
</div>

<br>
<div id="writecomment">
	<%= form_for([@fit, @fit.comments.build]) do |f| %>
		<p>Write A Comment:</p> <%= f.text_area :body %>
		<% f.submit %><button>Post</button>
		
		<%= flash[:notice] %>
	<% end %>
</div>

<br>
<div id ="comments">	
	<h3>Comments</h3>
	<% if @fit.comments.count != 0 %>
		<table>
			<% @fit.comments.each do |comment| %>
				<tr>
					<td><%= comment.poster %></td>
					<td class="usercomment"><%= comment.body %></td>

					<% if comment.poster == session[:current_user_id] %>
						<td><%= button_to 'Delete', [comment.fit, comment], :method=>:delete, :class=>:destroy %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>No comments yet</p>
	<% end %>
</div>